{
  "ignore": [
    "./dist/*.js"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties"
      ]
        },
    "es5": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "es6": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "targets": {
              "node": "6.0.0"
            }
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
